.AdminPanel{
    width: 100vw;
    height: 100svh;
    background-color: #f1f1f1;
}
.AdminMenu{
    width: 20vw;
    height: 100svh;
    border-right: 2px solid black;
    padding: 0%;
    float: left;
}
.currentAction{
    line-height: 10svh;
    height: 10svh;
    width: 80vw;
    float: left;
    font-size: 150%;
    font-weight: 600;
    text-align: center;
}
.mainComponent{
    height: 96svh;
    margin-top: 2svh;
    margin-bottom: 2svh;
    float: left;
    /* background: violet; */
}
.brand{
    padding-top: 40px;
    height: 10svh;
    text-align: center;
    line-height: 10svh;
    font-size: 1,5svw;
    font-weight: 600;
    /* border: 1px black solid; */
}
.mainMenu{
    height: 90svh;
    margin-left: 5px;
    text-align: center;
    margin-right: 5px;
}


