#editImage{
    width: 20px;
    height: 20px;
}
#editImageButton{
    padding-top: 0px;
    padding-bottom: 2px;
}
.center{
    text-align: center;
}
.clamp{
    font-size: clamp(4px,16px,20px);   
}
.adminContainer{
    overflow-x: visible;
}

.even-row {
    background-color: #f1f1f1;
}


.mainData{
    margin-left: 1px;
    width: 98%;
    overflow: auto;
}
.table-responsive{
    padding: 0%;
}




.menuButton{
    width: 100%;
    height: 6svh;
    margin-top: 2px;
    
}
.bottomButton{
    position: absolute;
    bottom: 5px;
    left: 5px;
}



.burger {
        position: relative;
        width: 40px;
        height: 30px;
        background: transparent;
        cursor: pointer;
        display: block;
    }

    .burger input {
        display: none;
    }

    .burger span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: black;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }

    .burger span:nth-of-type(1) {
        top: 0px;
        transform-origin: left center;
    }

    .burger span:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
        transform-origin: left center;
    }

    .burger span:nth-of-type(3) {
        top: 100%;
        transform-origin: left center;
        transform: translateY(-100%);
    }

    .burger input:checked ~ span:nth-of-type(1) {
        transform: rotate(45deg);
        top: 0px;
        left: 5px;
    }

    .burger input:checked ~ span:nth-of-type(2) {
        width: 0%;
        opacity: 0;
    }

    .burger input:checked ~ span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 28px;
        left: 5px;
    }

.slide-in-menu {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    
}

.slide-in-menu.visible {
    transform: translateX(0%);
    transition: transform 0.3s ease-in-out;

}

.sendAttendanceListFooter{
    text-align: center;
}