.AdminPanel{
    width: 100vw;
    height: 100svh;
    background-color: #f1f1f1;
}
.AdminMenu{
    width: 20vw;
    height: 100svh;
    /* background: yellow; */
    padding: 0%;
    float: left;
}
.currentAction{
    line-height: 10svh;
    height: 10svh;
    width: 80vw;
    float: left;
    font-size: 150%;
    font-weight: 600;
    text-align: center;
}
.mainComponent{
    height: 96svh;
    margin-top: 2svh;
    margin-bottom: 2svh;
    width: 80vw;
    float: left;
    /* background: violet; */
}
.brand{
    height: 10svh;
    text-align: center;
    line-height: 10svh;
    font-size: 1,5svw;
    font-weight: 600;
    /* border: 1px black solid; */
}
.mainMenu{
    height: 90svh;
    /* background: red; */
    text-align: center;
}
.menuButton{
    width: 100%;
    height: 6svh;
    margin-top: 2px;
}