.App{
    background: lightblue;
    height: 100svh;
}

.notSelectable{
    user-select: none;
}
.container1{
    width: 80vw;
    background: #FFFFFF;
    border: darkgray solid 1px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
}



.label-before {
  line-height: 20px;
  font-size: 12px;
  top: -10px;
  background: #fff;
  left: 9px;
  display: block;
}


.field {
	position: relative;
	label::before {
		content: attr(title);
		position: absolute;
		top: 0;
		left: 15px;
		line-height: 40px;
		font-size: 14px;
		color: #777;
		transition: 300ms all;
	}
	input {
		&:valid + label::before {
			@extend .label-before;
			content: attr(title);

		}
		&:focus + label::before {
			@extend .label-before;
			color: blue;
		} 
	}
}

h1{
  font-size: clamp(12px,16px,32px);
}
#acceptImage{
  height: 6vh;
  color: green;
}